/*/// For Desktops ///*/

body {
  box-sizing: border-box; /* include padding and margin into the measure of the elements.*/
	font-size: medium;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
}

img { /* make all images responsive */
  max-width: 100%; 
  height: auto;
}

/* layout*/

header {
  position: absolute;
  width: 100%;
  padding-top: 15px;
  /*background: #9bddd8;*/
  background: linear-gradient(rgba(33, 33, 33, 0.2), rgba(255, 255, 255, 0));
  z-index: 1;
}

p#logo a {
    text-decoration: none;
    font-size: 2em;
    color: white;
}

#main-nav ul {
    margin-top: 15px;
    float: right;
}

#main-nav ul li {
    display: inline-block;
}

#main-nav ul li a {
    line-height: 14px;
    margin: 0 10px;
    padding: 16px 20px;
    border: 3px solid transparent;
    border-radius: 40px;
    transition: .2s;
}

#main-nav ul li a:hover {
    border-color: #fff;
    cursor: pointer;
}

#main-nav ul li a {
    text-decoration: none;
    color: #fff;
}

.banner {
  position: relative;
  color: white;
  text-align: center;
  background: #9bddd8 url(../images/mountain.png) no-repeat center;
  background-size: cover;
  min-height: 640px;
}

#banner-overlay {
  position: absolute;
  width: 100%;
  bottom: 30%;
}

#about {
  position: relative;
  top: -45px;
  display: block;
  background: rgba(255, 255, 255, 0.9);
  padding: 100px 25px 0px 25px;
  min-height: 300px;
  transition: .5s;
}

#destination {
  background: #f2fefe;
}

#destination .overlay-content {
    padding: 30px;
    position: relative;
    min-height: inherit; /* inerites the height of the parent */
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
}

#destination .overlay-content::after { /* make an arrow next to paragraph*/
    content: '';
    position: absolute;
    top: 35%;
    width: 15px;
    height: 30px;
    opacity: .8;
}

.emptyfix {
    padding: 1px;
    background-clip: 
}

/* batu */

#batu {
    background: url(../images/batu.jpg) no-repeat bottom center/cover;
    margin-bottom: 30px;
    /*min-height: 518px;*/
}

#batu .overlay-content::after { /* make an arrow next to paragraph*/
    background: url(../images/arrow-left.png) no-repeat;
    transform: translate(-45px, -50%);
}

/* end batu */

/* bromo */

#bromo {
    /*min-height: 361px;*/
    background: url(../images/bromo.jpg) no-repeat bottom center/cover;
}

#bromo .overlay-content {
    width: 50%;
}

#bromo .overlay-content::after { /* make an arrow next to paragraph*/
    background: url(../images/arrow-right.png) no-repeat;
    left: 100%
}

/* end bromo*/

#bromo + div {
    background: url(../images/beach.jpg) no-repeat center center/cover;
    padding: 150px;
}

/* end beach */

/* end layout */

/* link buttons */

#itinerary-btn {
    display: block;
    margin: 20px auto;
    padding: 30px 12px;
    width: 223px;
    background: #ffffa6;
    border-radius: 60px;
    color: #10273d;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s;
    
}

#itinerary-btn:hover {
    background: #fff45c;
}

/* end link buttons */

/* text formatting */

@font-face {
  font-family: 'Chunk';
  src: url('../fonts/Chunk.otf');
  src: url('../fonts/Chunk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2 {
  font-family: 'Chunk', sans-serif;
  font-size: 4em;
}

h1 {
  text-transform: uppercase;
}

.blue-text {
    color: #01a2a6;  
}

.turquoise-text {
    color: #29d9c2;
}

.white-text {
    color: #fff;
}

main p {
    color: gray;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

/* end text formatting */

/*/// End For Desktops ///*/

/*/// For Tablets (min-width: 550px) ///*/


/*/// End for Tablets (min-width: 550px)///*/
