/*/// For Desktops ///*/

* {
  box-sizing: border-box; /* include padding and margin into the measure of the elements.*/
}

body {
  font-size: medium;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
}

img { /* make all images responsive */
  max-width: 100%; 
  height: auto;
}

/* layout*/

header {
  position: absolute;
  width: 100%;
  padding-top: 15px;
  /*background: #9bddd8;*/
  background: linear-gradient(rgba(33, 33, 33, 0.2), rgba(255, 255, 255, 0));
  z-index: 1;
}

p#logo a {
    text-decoration: none;
    font-size: 2em;
    color: white;
}

#main-nav ul {
    margin-top: 15px;
    float: right;
}

#main-nav ul li {
    display: inline-block;
}

#main-nav ul li a {
    line-height: 14px;
    margin: 0 10px;
    padding: 16px 20px;
    border: 3px solid transparent;
    border-radius: 40px;
    transition: .2s;
}

#main-nav ul li a:hover {
    border-color: #fff;
    cursor: pointer;
}

#main-nav ul li a {
    text-decoration: none;
    color: #fff;
}

.banner {
  position: relative;
  color: white;
  text-align: center;
  background: #9bddd8 url(../images/mountain.png) no-repeat center bottom;
  background-size: cover;
  min-height: 640px;
}

#banner-overlay {
  position: absolute;
  width: 100%;
  bottom: 30%;
}

#about {
  position: relative;
  top: -45px;
  display: block;
  background: rgba(255, 255, 255, 0.9);
  padding: 100px 25px 0px 25px;
  min-height: 300px;
  transition: .5s;
}

#destination {
  background: #f2fefe;
}

/* Batu */

#batu {
  background: url(../images/batu.jpg) no-repeat right bottom/cover;
  width: 100%;
  height: 520px;
  padding: 0;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden; /* not the best idea, as the content will hide when resized*/
}

#batu .description {
  float: right;
  width: 50%;
  height: inherit;
  padding: 30px;
  background: rgba(255, 255, 255, 0.93);
}

/* End Batu */

/* Bromo */

#bromo {
  background: url(../images/bromo.jpg) no-repeat right bottom/cover;
  /*width: 50%;
  /*width: 100%;
  height: 320px;
  padding: 0;
  margin-bottom: 30px;
  position: relative;*/
}

#bromo .description {
  float: left;
  width: 50%;
  height: inherit;
  padding: 30px;
  background: rgba(255, 255, 255, 0.93);
}

/* End Bromo */

/* Beach*/

#beach {
  background: url(../images/beach.jpg) no-repeat;
  height: 343px;
}

/* End Beach*/

.pagination {
  text-align: center;
}

/* end layout */

/* link buttons */

#itinerary-btn {
    display: block;
    margin: 20px auto;
    padding: 30px 12px;
    width: 223px;
    background: #ffffa6;
    border-radius: 60px;
    color: #10273d;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s;
    
}

#itinerary-btn:hover {
    background: #fff45c;
}

/* end link buttons */

/* text formatting */

@font-face {
  font-family: 'Chunk';
  src: url('../fonts/Chunk.otf');
  src: url('../fonts/Chunk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2 {
  font-family: 'Chunk', sans-serif;
  font-size: 4em;
}

h1 {
  text-transform: uppercase;
}

.blue-text {
    color: #01a2a6;  
}

.turquoise-text {
    color: #29d9c2;
}

.white-text {
    color: #fff;
}

main p {
    color: gray;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

/* end text formatting */

/*/// End For Desktops ///*/

/*/// For Tablets (min-width: 550px) ///*/


/*/// End for Tablets (min-width: 550px)///*/
